<a href="https://colab.research.google.com/github/geethikad/Assignment1/blob/main/Mongodb_telephone_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pymongo

In [9]:
from pymongo import MongoClient

In [10]:
uri ="mongodb://data_science:guvi3333@cluster0-shard-00-00.xryn6.mongodb.net:27017,cluster0-shard-00-01.xryn6.mongodb.net:27017,cluster0-shard-00-02.xryn6.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-1086ie-shard-0&authSource=admin&retryWrites=true&w=majority"

In [11]:
client = MongoClient(uri)

In [12]:
client.list_database_names()

['food',
 'geethika',
 'myFirstDatabase',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [13]:
db = client.geethika

In [19]:
list(db.list_collections())

[{'idIndex': {'key': {'_id': 1}, 'name': '_id_', 'v': 2},
  'info': {'readOnly': False,
   'uuid': Binary(b'\x83p\xee\xb4OSA\x8a\x95\xfd\x19\x85\xb8\xd2\xc3\x12', 4)},
  'name': 'Telephone',
  'options': {},
  'type': 'collection'},
 {'idIndex': {'key': {'_id': 1}, 'name': '_id_', 'v': 2},
  'info': {'readOnly': False,
   'uuid': Binary(b'\x94\xc0\xc3\xfd7-F\x1b\x86\xe9\x81\xea\x10\xc7\x9e\xeb', 4)},
  'name': 'Movies',
  'options': {},
  'type': 'collection'}]

In [24]:
col1=db.Telephone

In [25]:
a = {"Name":"Sree","Phonenumber":789644237,"Place":"Pune"}
col1.insert_one(a)

In [26]:
b={"Name":"Neelu","Phonenumber":787644237,"Place":"Guntur"}
col1.insert_one(b)

In [29]:
c=[{"Name":"Sandhya","Phonenumber":997644237,"Place":"Vijayawada"},{"Name":"Vijaya","Phonenumber":787656737,"Place":"Guntur"},{"Name":"Divya","Phonenumber":789644237,"Place":"Piduguralla"}]
b=col1.insert_many(c)
print(b)

<pymongo.results.InsertManyResult object at 0x7f43ee4ecc30>

In [30]:
d=col1.find_one()
print(d)

{'_id': ObjectId('621e147594ac5198914233eb'), 'Name': 'Geethika', 'Phonenumber': 9666959895, 'Place': 'Hyderabad'}

In [35]:
update_result = col1.update_one( 
    {'Name' : "Seetha"}, 
    {'$set' : { 'Phonenumber' : 9493114110 }} ) 
list (col1.find( {'Name' : "Seetha" }))

[{'Name': 'Seetha',
  'Phonenumber': 9493114110,
  'Place': 'Hyderabad',
  '_id': ObjectId('621e16a494ac5198914233ed')}]

In [37]:
update_result = col1.update_one( 
    {"Name": "Prani"}, 
    {'$set' : { "Place" : "Bangalore" }} ) 
list (col1.find( {"Name" : "Prani" }))

[]

In [39]:
d=col1.find_one({"Name":"Prani"})
print(d)

None

In [40]:
update_result = col1.update_one( 
    {"Name": "Praneeth"}, 
    {'$set' : { "Place" : "Bangalore" }} ) 
list (col1.find( {"Name" : "Praneeth" }))

[{'Name': 'Praneeth',
  'Phonenumber': 7890654621,
  'Place': 'Bangalore',
  '_id': ObjectId('621e16e594ac5198914233ee')}]

In [42]:
d=col1.find_one({"Name":"Praneeth"})
print(d)

{'_id': ObjectId('621e16e594ac5198914233ee'), 'Name': 'Praneeth', 'Phonenumber': 7890654621, 'Place': 'Bangalore'}

In [44]:
col1.insert_one({"Name":"kwaish","Phonenumber":9505421336,"Place":"Vijayawada"})

In [47]:
d=col1.find_one({"Place":"Vijayawada"})
print(d)

{'_id': ObjectId('621e21efa2eca704c4c43bc7'), 'Name': 'Sandhya', 'Phonenumber': 997644237, 'Place': 'Vijayawada'}

In [48]:
for i in col1.find({"Place":"Vijayawada"}):
  print(i)

{'_id': ObjectId('621e21efa2eca704c4c43bc7'), 'Name': 'Sandhya', 'Phonenumber': 997644237, 'Place': 'Vijayawada'}
{'_id': ObjectId('621e221ea2eca704c4c43bca'), 'Name': 'Sandhya', 'Phonenumber': 997644237, 'Place': 'Vijayawada'}
{'_id': ObjectId('621e240ea2eca704c4c43bcd'), 'Name': 'kwaish', 'Phonenumber': 9505421336, 'Place': 'Vijayawada'}

In [49]:
list ( col1.find( {'$or': [ {'Name': 'Seetha'},{'Name': 'Geethika'} ]}))

[{'Name': 'Geethika',
  'Phonenumber': 9666959895,
  'Place': 'Hyderabad',
  '_id': ObjectId('621e147594ac5198914233eb')},
 {'Name': 'Seetha',
  'Phonenumber': 9493114110,
  'Place': 'Hyderabad',
  '_id': ObjectId('621e16a494ac5198914233ed')}]

In [51]:
delete = col1.delete_one({'Name': "Divya"})    # deletes as many documents as the filter
list (col1.find( ))

[{'Name': 'Geethika',
  'Phonenumber': 9666959895,
  'Place': 'Hyderabad',
  '_id': ObjectId('621e147594ac5198914233eb')},
 {'Name': 'Anu',
  'Phonenumber': 987654321,
  '_id': ObjectId('621e165394ac5198914233ec'),
  'place': 'Chennai'},
 {'Name': 'Seetha',
  'Phonenumber': 9493114110,
  'Place': 'Hyderabad',
  '_id': ObjectId('621e16a494ac5198914233ed')},
 {'Name': 'Praneeth',
  'Phonenumber': 7890654621,
  'Place': 'Bangalore',
  '_id': ObjectId('621e16e594ac5198914233ee')},
 {'Name': 'Padmavathi',
  'Phonenumber': 8956431021,
  'Place': 'Bangalore',
  '_id': ObjectId('621e172694ac5198914233ef')},
 {'Name': 'Srinivasa',
  'Phonenumber': 786534589,
  'Place': 'Mumbai',
  '_id': ObjectId('621e178b94ac5198914233f0')},
 {'Name': 'Ram',
  'Phonenumber': 9876543210,
  'Place': 'Hyderabad',
  '_id': ObjectId('621e17e094ac5198914233f1')},
 {'Name': 'Gowri',
  'Phonenumber': 9876543201,
  'Place': 'Visakhapatnam',
  '_id': ObjectId('621e18a894ac5198914233f2')},
 {'Name': 'Rocky',
  'Phonenumber': 8796543201,
  'Place': 'pune',
  '_id': ObjectId('621e18e594ac5198914233f3')},
 {'Name': 'Lucky',
  'Phonenumber': 8769123450,
  'Place': 'Lucknow',
  '_id': ObjectId('621e194194ac5198914233f4')},
 {'Name': 'Sree',
  'Phonenumber': 789644237,
  'Place': 'Pune',
  '_id': ObjectId('621e2135a2eca704c4c43bc5')},
 {'Name': 'Neelu',
  'Phonenumber': 787644237,
  'Place': 'Guntur',
  '_id': ObjectId('621e2166a2eca704c4c43bc6')},
 {'Name': 'Sandhya',
  'Phonenumber': 997644237,
  'Place': 'Vijayawada',
  '_id': ObjectId('621e21efa2eca704c4c43bc7')},
 {'Name': 'Vijaya',
  'Phonenumber': 787656737,
  'Place': 'Guntur',
  '_id': ObjectId('621e21efa2eca704c4c43bc8')},
 {'Name': 'Sandhya',
  'Phonenumber': 997644237,
  'Place': 'Vijayawada',
  '_id': ObjectId('621e221ea2eca704c4c43bca')},
 {'Name': 'Vijaya',
  'Phonenumber': 787656737,
  'Place': 'Guntur',
  '_id': ObjectId('621e221ea2eca704c4c43bcb')},
 {'Name': 'Divya',
  'Phonenumber': 789644237,
  'Place': 'Piduguralla',
  '_id': ObjectId('621e221ea2eca704c4c43bcc')},
 {'Name': 'kwaish',
  'Phonenumber': 9505421336,
  'Place': 'Vijayawada',
  '_id': ObjectId('621e240ea2eca704c4c43bcd')}]

In [52]:
delete = col1.delete_many({'Place': "Vijayawada"})    # deletes as many documents as the filter
list (col1.find( ))

[{'Name': 'Geethika',
  'Phonenumber': 9666959895,
  'Place': 'Hyderabad',
  '_id': ObjectId('621e147594ac5198914233eb')},
 {'Name': 'Anu',
  'Phonenumber': 987654321,
  '_id': ObjectId('621e165394ac5198914233ec'),
  'place': 'Chennai'},
 {'Name': 'Seetha',
  'Phonenumber': 9493114110,
  'Place': 'Hyderabad',
  '_id': ObjectId('621e16a494ac5198914233ed')},
 {'Name': 'Praneeth',
  'Phonenumber': 7890654621,
  'Place': 'Bangalore',
  '_id': ObjectId('621e16e594ac5198914233ee')},
 {'Name': 'Padmavathi',
  'Phonenumber': 8956431021,
  'Place': 'Bangalore',
  '_id': ObjectId('621e172694ac5198914233ef')},
 {'Name': 'Srinivasa',
  'Phonenumber': 786534589,
  'Place': 'Mumbai',
  '_id': ObjectId('621e178b94ac5198914233f0')},
 {'Name': 'Ram',
  'Phonenumber': 9876543210,
  'Place': 'Hyderabad',
  '_id': ObjectId('621e17e094ac5198914233f1')},
 {'Name': 'Gowri',
  'Phonenumber': 9876543201,
  'Place': 'Visakhapatnam',
  '_id': ObjectId('621e18a894ac5198914233f2')},
 {'Name': 'Rocky',
  'Phonenumber': 8796543201,
  'Place': 'pune',
  '_id': ObjectId('621e18e594ac5198914233f3')},
 {'Name': 'Lucky',
  'Phonenumber': 8769123450,
  'Place': 'Lucknow',
  '_id': ObjectId('621e194194ac5198914233f4')},
 {'Name': 'Sree',
  'Phonenumber': 789644237,
  'Place': 'Pune',
  '_id': ObjectId('621e2135a2eca704c4c43bc5')},
 {'Name': 'Neelu',
  'Phonenumber': 787644237,
  'Place': 'Guntur',
  '_id': ObjectId('621e2166a2eca704c4c43bc6')},
 {'Name': 'Vijaya',
  'Phonenumber': 787656737,
  'Place': 'Guntur',
  '_id': ObjectId('621e21efa2eca704c4c43bc8')},
 {'Name': 'Vijaya',
  'Phonenumber': 787656737,
  'Place': 'Guntur',
  '_id': ObjectId('621e221ea2eca704c4c43bcb')},
 {'Name': 'Divya',
  'Phonenumber': 789644237,
  'Place': 'Piduguralla',
  '_id': ObjectId('621e221ea2eca704c4c43bcc')}]

In [55]:
d = col1.find_one({"Name":"Praneeth"},{"_id":0})
print(d)

{'Name': 'Praneeth', 'Phonenumber': 7890654621, 'Place': 'Bangalore'}